*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 0rem 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #777;
}

header{
    background-color: #ffff;
    color: #333;
    height: 8rem;
    

    
}
.main__header--grab--one{
    width: 100%;
    height: 8rem;
   
// --------top menu-----------
    & .top{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        flex-wrap: wrap;
       height: 2.5rem;
        z-index: 100;
      

        & .img{
            flex: 0 0 16.666667%;
               max-width: 16.666667%;

               & img{
                   width: 50px;
               }
        }

        & .form{
            flex: 0 0 58.333333%;
             max-width: 58.333333%;
             border: .5px solid #1D97D3;
             
             position: relative;
             border-radius: 2px;
            

    & input{
        width: 90%;
        padding: 0rem 2px;
       
        border-bottom: 1px solid transparent;
        border: none;
        outline: none;
        height: 16.7px;
        font-size: 7px;
        

        &:focus{
            outline: none ;
            border-bottom: 1px solid  #7b10ff;
        
        }
        &:invalid {
            border-bottom: 1px solid #ff7730;
          }
        &::placeholder{
           font-size: 7px;
        }
       
    }

    & button{
        border: none;
        width: 10%;
        position: absolute;
        left: 90%;
        height: 19.2px;
        background-color: #1D97D3;
        color: white;
        cursor: pointer;
        border-radius: 0px 2px 2px 0px;
    }
        }
        & .cart{
            flex: 0 0 25%;
            max-width: 25%;
            text-align: center;
            display: flex;
           
            justify-content: center;
            

            & i{
                font-size: 15px;
                cursor: pointer;
               color: #333;
            }

            & a{
                margin-left: 1rem;
                text-decoration: none;
                padding: 2px 6px;
                border: .5px solid #777;
                font-size: 8px;
                border-radius: 3px;
                color: inherit;
                background-color: transparent;
                font-weight: 300;
                &:hover{
                    background-color: #33c24d;
                    border-color: #33c24d;
                    color: #fff;
                }
                
                
            }
            & .sign-in{
                margin-top: 5px;
            }
            
        }
    }
}

// --------middle menu-----------
.middle{
    margin-top: 5px;
    width: 100%;
    border-bottom: .5px solid #00bcd4;
    height: 2.5rem;

    & .nav{
        max-width: 1150px;;
    }

    & .another{
        width: 100%;

        & ul{
            display: flex;
            align-items: center;
            padding-left: 45px;
        }
        & li{
            list-style: none;
        }
        & a{
            text-decoration: none;
            padding: 3px 5px;
            font-size: 8px;
            color: inherit;
            position: relative;
            transition: all .5s;

            &:hover{
                color: #1D97D3;
            }
            &:hover::before{
                transform: scaleX(100%);
                width: 50%;
            }
            &:hover::after{
                transform: scaleX(-100%);
                width: 50%;
            }

            &::before{
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 0;
                height: 1px;
                background-color: #00bcd4;
                transform: scaleX(0);
                transition: all 0.5s;
                


            }
            &::after{
                content: "";
                position: absolute;
                top: 100%;
                right: 0;
                width: 0;
                height: 1px;
                background-color: #f0f;
                transform: scaleX(0);
                transition: all 0.5s;
              


            }
        }
    }
}

// -------bottom-------

.bottom{
    margin-top: 0px;
    width: 100%;
    height: 3rem;

    & .nav{
        max-width: 1150px;;
    }

    & .other{
        width: 100%;

        & ul{
            display: flex;
            align-items: center;
            // padding-left: 45px;
        }
        & li{
            list-style: none;
            padding: 5px 8.3px;
        }
        & a{
            text-decoration: none;
           
            font-size: 6.4px;
            font-weight: 300;

            color: inherit;
            position: relative;
            transition: all .5s;
            & i{
                padding-left: 5px;
            }

            &:hover{
                color: #1D97D3;
            } 
            
        }
    }
}
main{
    background-color: #F1F2F4;
    width: 100%;
    height: calc(100vh - 8rem -20rem );
}
// -------slider part------
.slider{
    margin-top: 1rem;
    height: 10rem;
    cursor: pointer;
}
.second__slider{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
    height: 4rem;

    & .imgone{
        flex:0 0 30%;
        cursor: pointer;
    }
    & .imgtow{
        flex:0 0 30%;
        cursor: pointer;
    }
    & .imgthree{
        flex:0 0 30%;
        cursor: pointer;
    }



}
.sold__Section{
    width: 100%;
    height: 20rem;
    margin-top: 1rem;
    box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: .2);
    
    & h1{
        font-size: 10px;
        font-weight: 300;
        color: #333333;
        padding-left: 5px;
        padding-top: 5px;
    }

    &--grab{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        &--one{
            width: 15%;
            height: 14rem;
            position: relative;
            transition: all .5s;
            overflow: hidden;
       
            &:hover{
                box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: .2);
            }
           
            & .top{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 1rem;
                
                & .valo{
                    font-size: 8px;
                    color: #2d3436;
                    padding-top: 4px;
                }
                & .price{
                    color: black;
                }
            }

            & .hidden{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                & .alada{
                    text-decoration: none;
                    font-size: 8px;
                    padding: 3px 2px;
                    color: white;
                    border: 1px solid rgb(243, 146, 3);
                    background-color:rgb(243, 146, 3);
                    border-radius: 3px;
                    transform: translate(2px,-50px);
                    transition: all .5s;

                   
                }
                & .Button{
                    transform: translate(0px,46px);
                    transition: all .5s;
                   
                    & button{
                        width: 100%;
                        height: 2rem;
                        padding: 0px 2px;
                        font-size: 7px;
                        border-radius: 2px;
                        border: none;
                        cursor: pointer;
                        background-color: #1D97D3;
                        color: white;
                        
                    }
                   
                }
            }
            &:hover::before{
                transform: translate(0px,0px) ;
            }
           

            &::before{
           content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #2d3436;
          opacity: 0.6;
          transition: all 0.25s;
          transform: translate(73px, -9px) ; 
            }

            &:hover .alada{
                transform: translate(0,0);
            }
            &:hover .Button{
                transform: translate(0,0);
                }
           
           
        }
        &--tow{
            width: 15%;
            height: 14rem;
            position: relative;
            overflow: hidden;
            transition: all .5s;
            
            &:hover{
                box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: .2);
            }
            & .top{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 1rem;
                & .valo{
                    font-size: 8px;
                    color: #2d3436;
                    padding-top: 4px;
                }
                & .price{
                    color: black;
                }
            }
            & .hidden--tow{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
               

                & .alada{
                    text-decoration: none;
                    font-size: 8px;
                    padding: 3px 2px;
                    color: white;
                    border: 1px solid rgb(243, 146, 3);
                    background-color:rgb(243, 146, 3);
                    border-radius: 3px;
                    transform: translate(2px,-50px);
                    transition: all .5s;

                   
                }
                & .Button{
                    transform: translate(0px,46px);
                    transition: all .5s;
                   
                    & button{
                        width: 100%;
                        height: 2rem;
                        padding: 0px 2px;
                        font-size: 7px;
                        border-radius: 2px;
                        border: none;
                        cursor: pointer;
                        background-color: #1D97D3;
                        color: white;
                        
                    }
                   
                }
            }
            &:hover::before{
                transform: translate(0px,0px) ;
            }
           

            &::before{
           content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #2d3436;
          opacity: 0.6;
          transition: all 0.25s;
          transform: translate(73px, -9px) ; 
            }

            &:hover .alada{
                transform: translate(0,0);
            }
            &:hover .Button{
                transform: translate(0,0);
                }
            
        }
        &--three{
            width: 15%;
            height: 14rem;
            position: relative;
            overflow: hidden;
            transition: all .5s;
            
            &:hover{
                box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: .2);
            }
            & .top{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 1rem;
                & .valo{
                    font-size: 8px;
                    color: #2d3436;
                    padding-top: 4px;
                }
                & .price{
                    color: black;
                }
            }
            & .hidden{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                & .alada{
                    text-decoration: none;
                    font-size: 8px;
                    padding: 3px 2px;
                    color: white;
                    border: 1px solid rgb(243, 146, 3);
                    background-color:rgb(243, 146, 3);
                    border-radius: 3px;
                    transform: translate(2px,-50px);
                    transition: all .5s;

                   
                }
                & .Button{
                    transform: translate(0px,46px);
                    transition: all .5s;
                   
                    & button{
                        width: 100%;
                        height: 2rem;
                        padding: 0px 2px;
                        font-size: 7px;
                        border-radius: 2px;
                        border: none;
                        cursor: pointer;
                        background-color: #1D97D3;
                        color: white;
                        
                    }
                   
                }
            }
            &:hover::before{
                transform: translate(0px,0px) ;
            }
           

            &::before{
           content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #2d3436;
          opacity: 0.6;
          transition: all 0.25s;
          transform: translate(73px, -9px) ; 
            }

            &:hover .alada{
                transform: translate(0,0);
            }
            &:hover .Button{
                transform: translate(0,0);
                }
        }
        &--four{
            width: 15%;
            height: 14rem;
            position: relative;
            overflow: hidden;
            transition: all .5s;
            
            &:hover{
                box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: .2);
            }
            & .top{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 1rem;
                & .valo{
                    font-size: 8px;
                    color: #2d3436;
                    padding-top: 4px;
                }
                & .price{
                    color: black;
                }
            }
            & .hidden{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                & .alada{
                    text-decoration: none;
                    font-size: 8px;
                    padding: 3px 2px;
                    color: white;
                    border: 1px solid rgb(243, 146, 3);
                    background-color:rgb(243, 146, 3);
                    border-radius: 3px;
                    transform: translate(2px,-50px);
                    transition: all .5s;

                   
                }
                & .Button{
                    transform: translate(0px,46px);
                    transition: all .5s;
                   
                    & button{
                        width: 100%;
                        height: 2rem;
                        padding: 0px 2px;
                        font-size: 7px;
                        border-radius: 2px;
                        border: none;
                        cursor: pointer;
                        background-color: #1D97D3;
                        color: white;
                        
                    }
                   
                }
            }
            &:hover::before{
                transform: translate(0px,0px) ;
            }
           

            &::before{
           content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #2d3436;
          opacity: 0.6;
          transition: all 0.25s;
          transform: translate(73px, -9px) ; 
            }

            &:hover .alada{
                transform: translate(0,0);
            }
            &:hover .Button{
                transform: translate(0,0);
                }
        }
        &--five{
            width: 15%;
            height: 14rem;
            overflow: hidden;
            position: relative;
            transition: all .5s;
            
            &:hover{
                box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: .2);
            }
            & .top{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 1rem;
                & .valo{
                    font-size: 8px;
                    color: #2d3436;
                    padding-top: 4px;
                }
                & .price{
                    color: black;
                }
            }
            & .hidden{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                & .alada{
                    text-decoration: none;
                    font-size: 8px;
                    padding: 3px 2px;
                    color: white;
                    border: 1px solid rgb(243, 146, 3);
                    background-color:rgb(243, 146, 3);
                    border-radius: 3px;
                    transform: translate(2px,-50px);
                    transition: all .5s;

                   
                }
                & .Button{
                    transform: translate(0px,46px);
                    transition: all .5s;
                   
                    & button{
                        width: 100%;
                        height: 2rem;
                        padding: 0px 2px;
                        font-size: 7px;
                        border-radius: 2px;
                        border: none;
                        cursor: pointer;
                        background-color: #1D97D3;
                        color: white;
                        
                    }
                   
                }
            }
            &:hover::before{
                transform: translate(0px,0px) ;
            }
           

            &::before{
           content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #2d3436;
          opacity: 0.6;
          transition: all 0.25s;
          transform: translate(73px, -9px) ; 
            }

            &:hover .alada{
                transform: translate(0,0);
            }
            &:hover .Button{
                transform: translate(0,0);
                }
        }
        &--six{
            width: 15%;
            height: 14rem;
            position: relative;
            overflow: hidden;
            transition: all .5s;
            
            &:hover{
                box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: .2);
            }
            & .top{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 1rem;
                & .valo{
                    font-size: 8px;
                    color: #2d3436;
                    padding-top: 4px;
                }
                & .price{
                    color: black;
                }
            }
            & .hidden{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                & .alada{
                    text-decoration: none;
                    font-size: 8px;
                    padding: 3px 2px;
                    color: white;
                    border: 1px solid rgb(243, 146, 3);
                    background-color:rgb(243, 146, 3);
                    border-radius: 3px;
                    transform: translate(2px,-50px);
                    transition: all .5s;

                   
                }
                & .Button{
                    transform: translate(0px,46px);
                    transition: all .5s;
                   
                    & button{
                        width: 100%;
                        height: 2rem;
                        padding: 0px 2px;
                        font-size: 7px;
                        border-radius: 2px;
                        border: none;
                        cursor: pointer;
                        background-color: #1D97D3;
                        color: white;
                        
                    }
                   
                }
            }
            &:hover::before{
                transform: translate(0px,0px) ;
            }
           

            &::before{
           content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #2d3436;
          opacity: 0.6;
          transition: all 0.25s;
          transform: translate(73px, -9px) ; 
            }

            &:hover .alada{
                transform: translate(0,0);
            }
            &:hover .Button{
                transform: translate(0,0);
                }
        }
    }
}


